# Python 프로그래밍 기초

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## 사칙연산(four fundamental rules of arithmetics)

In [78]:
23
2+3
2-3
2*3
2/3
(2+3)*4

23

5

-1

6

0.6666666666666666

20

In [79]:
5%2
5//2
5**2

1

2

25

## 논리연산(logical operation)

In [80]:
(2<= 3)
(2>= 3)
(2<= 3) and (2>= 3)

True

False

False

In [81]:
True and False
not True
True or False

False

False

True

In [21]:
2 = 3

SyntaxError: can't assign to literal (<ipython-input-21-e64b2ea47693>, line 1)

In [26]:
a = 3, print(a)

3

In [82]:
2==3
2 is 2
2 !=2
not (2==3)
2>3
2<3
2<=3
2>=3

False

True

False

True

False

True

True

False

In [36]:
11 >> 2, 11 << 2
12 >> 2, 12 << 2
11 & 12, 11 | 12
-11, 11^12

(2, 44)

(3, 48)

(8, 15)

(-11, 7)

In [33]:
11>> 2,

(2, 0)

## 데이터 종류 (Data type)

In [49]:
type(1), type('1'), type(1.0), type(1-1j), type(1j)

(int, str, float, complex, complex)

In [44]:
1.5e5, type(1.5e5)
str(12), type(str(12)) 
int(12), type(int(12))
float(12), type(float(12))

(150000.0, float)

('12', str)

(12, int)

(12.0, float)

## 문자열

In [54]:
print('Hellow World')
'Hello' == 'hello'
'Hello' == 'Hello'

Hellow World

False

True

In [70]:
print('울릉도'')

SyntaxError: EOL while scanning string literal (<ipython-input-70-5ca59c013e02>, line 1)

In [75]:
print('울릉도\'') # (')가 인쇄하도록 하는 방법 \(backslash방법)
print('울릉도', "'")
print('''울릉도 '동남방 뱃'길'따라''')

울릉도'
울릉도 '
울릉도 '동남방 뱃'길'따라

In [85]:
print('울릉도' + '동남방')
print('울릉도' + '\''+ '동남방')
print('울릉도' + ' '+ '동남방')
print('울릉도' + '\n'+ '동남방')

울릉도동남방
울릉도'동남방
울릉도 동남방
울릉도
동남방

In [96]:
print('울릉도   %s' %'동남방')
print('울릉도 {}'.format('동남방'))
print('울릉도   {}'.format('동남방'))
print('울릉도 {} {}'.format('동남방', '뱃길따라'))

울릉도   동남방
울릉도 동남방
울릉도   동남방
울릉도 동남방 뱃길따라

In [122]:
'   울릉도 동남방 뱃길따라  '.strip() # 양쪽에 있는 공백제거 (\n 도 제게)
'   울릉도 동남방         뱃길따라  '.strip()

'울릉도 동남방 뱃길따라'

'울릉도 동남방         뱃길따라'

In [125]:
len('울릉도')
len('   울릉도 ')
len('   울릉도 '.strip())

3

7

3

In [132]:
'울릉도' + ' '+ '동남방'
len('울릉도' + ' '+ '동남방')
len('울릉도' + ''+ '동남방')
len('울릉도 동남방')

'울릉도 동남방'

7

6

7

In [134]:
' '.join(['울릉도', '동남방'])
''.join(['울릉도', '동남방'])

'울릉도 동남방'

'울릉도동남방'

In [165]:
'울릉도 동남방 a 뱃길따라'.upper()
'  울릉도 동남방 뱃길따라  '.split()
'울릉도,동남방,뱃길따라'.split(',')
'울릉도,동남방,뱃길따라'.split(',')[1]
'울릉도,동남방,뱃길따라'.split(',')[1:3]
'울릉도,동남방,뱃길따라'.split(',')[-1]
'울릉도 동남방 뱃길따라'.find('도')
'울릉도 동남방 뱃길따라'.rfind('도')

'울릉도 동남방 A 뱃길따라'

['울릉도', '동남방', '뱃길따라']

['울릉도', '동남방', '뱃길따라']

'동남방'

['동남방', '뱃길따라']

'뱃길따라'

2

2

In [166]:
'Hello' == "Hello"

True

## 입력과 출력(input, output)

In [180]:
name = input('이름이 뭐니? :')
print('안녕', name)
print('안녕', name, '!')
print('안녕', name, '!', sep='')
print('안녕, {}!'.format(name))

이름이 뭐니? :상구
안녕 상구
안녕 상구 !
안녕상구!
안녕, 상구!

In [181]:
sirname = input('성은 뭐니? :')
print('안녕, {0} {1}!'.format(sirname, name))
print('안녕, {1} {0}!'.format(sirname, name))
print('안녕, {n} {s} {s}!'.format(s=sirname, n=name))

성은 뭐니? :조
안녕, 조 상구!
안녕, 상구 조!
안녕, 상구 조 조!

In [183]:
'안녕, {n} {s} {s}!'.format(s=sirname, n=name)

'안녕, 상구 조 조!'

[https://docs.python.org/3/tutorial/inputoutput.html]

In [182]:
x = int(input('자연수를 입력하시오:'))
y = int(input('자연수를 또 입력하시오:'))
formatStr = '{0}+{1} = {2}; {0}*{1}={3}' 

equations = formatStr.format(x,y,x+y,x*y)
equations

자연수를 입력하시오:14
자연수를 또 입력하시오:5

'14+5 = 19; 14*5=70'

In [184]:
for x in range(1,6):
    print(x, x*x, x*x*x)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

In [197]:
A = [1,2,3,4,5] 
B = [1,2]
C = [3,4,5]

set(A) - set(B) == set(C)
set(A) and set(B) == set(B)
set(set(A) or set(B)) == set(A)

True

True

True

In [199]:
'울릉도 %s' %'동남방'

'울릉도 동남방'

In [202]:
'%d\t%d\t%d\n%d\n%s\n' %(1,2,3,4,'울릉도')
print('%d\t%d\t%d\n%d\n%s\n' %(1,2,3,4,'울릉도'))

'1\t2\t3\n4\n울릉도\n'

1	2	3
4
울릉도

In [207]:
'울릉도\t동남방\n\n뱃길따라'
r'울릉도\t동남방\n\n뱃길따라' # raw string
print('울릉도\t동남방\n\n뱃길따라')
print('*'*30)
print(r'울릉도\t동남방\n\n뱃길따라')

'울릉도\t동남방\n\n뱃길따라'

'울릉도\\t동남방\\n\\n뱃길따라'

울릉도	동남방

뱃길따라
******************************
울릉도\t동남방\n\n뱃길따라

## 프로그램 기초: if, list, tuple, set, ............

## if

In [217]:
a = input()
a = int(a)
if a==1:
    print('"a"는 "1" 이네요.')
    
elif(a>1) :
    print('"a"는 "1" 보다 크네요.')
    print('"a"는 {}입니다.'.format(a))
else:
    print('"a"는 "1" 보다 작네요.')
    print('"a"는 {}입니다.'.format(a))

3
"a"는 "1" 보다 크네요.
"a"는 3입니다.

# list

In [10]:
animals = ['dog','cat','horse','dog']

# 함수(Fuction)
len(animals)
type(animals)
max(animals)

animals[0]
animals[2]
animals[-1]
animals[1:-1]
animals[1:]
animals[1:0]


# Method
animals.count('dog')

4

list

'horse'

'dog'

'horse'

'dog'

['cat', 'horse']

['cat', 'horse', 'dog']

[]

2

In [11]:
animals
animals.append('monkey')
animals
animals.insert(2, 'bird')
animals

['dog', 'cat', 'horse', 'dog']

['dog', 'cat', 'horse', 'dog', 'monkey']

['dog', 'cat', 'bird', 'horse', 'dog', 'monkey']

In [21]:
sorted(animals)
animals

['cat', 'dog', 'dog', 'horse', 'monkey']

['monkey', 'horse', 'dog', 'dog', 'cat']

In [15]:
animals.sort()
animals

['bird', 'cat', 'dog', 'dog', 'horse', 'monkey']

In [19]:
animals.sort(reverse=True)
animals

['monkey', 'horse', 'dog', 'dog', 'cat', 'bird']

In [20]:
animals.pop()
animals

'bird'

['monkey', 'horse', 'dog', 'dog', 'cat']

In [23]:
animals
animals.pop(len(animals)-1)

['monkey', 'horse', 'dog', 'dog']

'dog'

In [24]:
animals.remove('dog')
animals

['monkey', 'horse']

In [25]:
del animals[1]
animals

['monkey']

In [26]:
animals.clear()
animals

[]

In [27]:
del animals
animals

NameError: name 'animals' is not defined

In [41]:
list('abcd')
letters = list('abcd')

['a', 'b', 'c', 'd']

- a += b is short-hand for a = a + b
- So, animal_str += animal is short-hand animal_str = animal_str + animal

In [42]:
animals = ['dog','cat','horse','dog']
animal_str = ''
animal_str
for animal in animals:
    animal_str += animal
    
animal_str

''

'dogcathorsedog'

In [43]:
animals + letters

['dog', 'cat', 'horse', 'dog', 'a', 'b', 'c', 'd']

In [44]:
letters.sort(reverse=True)
letters

['d', 'c', 'b', 'a']

In [45]:
for i in range(len(letters)):
    print(i)
    animals.append(letters[i])
animals

0
1
2
3

['dog', 'cat', 'horse', 'dog', 'd', 'c', 'b', 'a']

In [51]:
animals = ['dog','cat','horse','dog']
''.join(animals)
' '.join(animals)
','.join(animals)
' '.join(animals).split()

'dogcathorsedog'

'dog cat horse dog'

'dog,cat,horse,dog'

['dog', 'cat', 'horse', 'dog']

# stack & ques

In [56]:
s=[]
s.append(0)
s.append(1)
s
s.pop()
s.append(2)
s
s.pop()

[0, 1]

1

[0, 2]

2

In [58]:
s=[]
s.append(0)
s.append(1)
s
s.pop(0)
s.append(2)
s
s.pop(0)

[0, 1]

0

[1, 2]

1

## tuple

In [62]:
list('abcd')
letters = list('abcd')
letters =('a', 'b', 'c', 'd')
letters
letters = tuple('abcd')
letters

['a', 'b', 'c', 'd']

('a', 'b', 'c', 'd')

('a', 'b', 'c', 'd')

In [65]:
animals = ('dog', 'cat', 'horse', 'dog')
animal_str =''
for animal in animals:
    animal_str += animal

animal_str

'dogcathorsedog'

In [67]:
animals + letters

('dog', 'cat', 'horse', 'dog', 'a', 'b', 'c', 'd')

In [68]:
''.join(animals)
' '.join(animals)
','.join(animals)
' '.join(animals).split()

'dogcathorsedog'

'dog cat horse dog'

'dog,cat,horse,dog'

['dog', 'cat', 'horse', 'dog']

In [69]:
# 함수(Fuction)
len(animals)
type(animals)
max(animals)

animals[0]
animals[2]
animals[-1]
animals[1:-1]
animals[1:]
animals[1:0]


# Method
animals.count('dog')

4

tuple

'horse'

'dog'

'horse'

'dog'

('cat', 'horse')

('cat', 'horse', 'dog')

()

2

In [74]:
animals.append('monkey')

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
animals.insert(2, 'bird')

AttributeError: 'tuple' object has no attribute 'insert'

In [77]:
sorted(animals)

['cat', 'dog', 'dog', 'horse']

In [78]:
animals.sort()

AttributeError: 'tuple' object has no attribute 'sort'

## Set

In [79]:
backpack = {'book', 'paper', 'pencil',
           'book', 'apple', 'tumbler'}
backpack

{'apple', 'book', 'paper', 'pencil', 'tumbler'}

In [81]:
'pencil' in backpack
'pen' in backpack

True

False

In [8]:
s1 = set('12345')
s2 = set('34567')
s1
s2
s1|s2
s1.union(s2)
s1 & s2
s1.intersection(s2)
s1-s2
s1^s2

{'1', '2', '3', '4', '5'}

{'3', '4', '5', '6', '7'}

{'1', '2', '3', '4', '5', '6', '7'}

{'1', '2', '3', '4', '5', '6', '7'}

{'3', '4', '5'}

{'3', '4', '5'}

{'1', '2'}

{'1', '2', '6', '7'}

In [100]:
s1 = list('12345')
s2 = list('34567')
s1
s2

set(s1) & set(s2)
set(s1) and set(s2)
set(s1) - set(s2)

['1', '2', '3', '4', '5']

['3', '4', '5', '6', '7']

{'3', '4', '5'}

{'3', '4', '5', '6', '7'}

{'1', '2'}

# Set

In [12]:
set_from_list = set([1,1,1,2,3,4,5])
set_from_list
set_from_list.add(8)
set_from_list
set_from_list.add(2)
set_from_list

s1 = s1 | s2
s1
s1 = s1 - {'7'}
s1

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 8}

{1, 2, 3, 4, 5, 8}

{'1', '2', '3', '4', '5', '6', '7'}

{'1', '2', '3', '4', '5', '6'}

# dictionary

In [15]:
contacts ={'fire': 119, 'police': 112}
contacts
len(contacts)
contacts.keys()
contacts.values()

{'fire': 119, 'police': 112}

2

dict_keys(['fire', 'police'])

dict_values([119, 112])

In [22]:
contacts['fire']
contacts['dasan'] =210
contacts

contacts['dasan'] =120
contacts

sorted(contacts)

119

{'fire': 119, 'police': 112, 'dasan': 210}

{'fire': 119, 'police': 112, 'dasan': 120}

['dasan', 'fire', 'police']

In [27]:
list(contacts)
'dasan' in contacts
del contacts['dasan']
contacts

['fire', 'police']

False

{'fire': 119, 'police': 112}

In [28]:
[key for key, value in contacts.items() if value == 112]

['police']

In [29]:
type([1,2])
type((1,2))
type({1:2, 3:4})
type({1,2})

list

tuple

dict

set

# 자료형의 비교

In [30]:
'123' < 'ABC' < 'C' < 'abc' < '한글'

True

In [41]:
(1,2,3)<(1,2,4)
[1,2,3]<[1,2,4]
(1,2,3,100) < (1,2,4)
(1,2) < (1,2,-100)
(1,2,3) == (1.0, 2.0, 3.0)
(1,2, ('aa', 'ab')) < (1,2, ('abc', 'a'), 4)

True

True

True

True

True

True

https://docs.python.org/3/tutorial/datastructures.html

## 반복 (Loop)

In [101]:
who = ['소방서', '경찰서', '우리서']
number = [119, 112, 117]

for w, n in zip(who, number):
    print('{0} 응급전화 번호는 {1}입니다.'.format(w,n))

소방서 응급전화 번호는 119입니다.
경찰서 응급전화 번호는 112입니다.
우리서 응급전화 번호는 117입니다.

In [102]:
address = zip(who, number)

address

In [103]:
address_dic = dict(address)
address_dic
type(address_dic)

{'소방서': 119, '경찰서': 112, '우리서': 117}

dict

In [104]:
address = zip(who, number)
address
address_set = set(address)
address_set
type(address_set)

{('경찰서', 112), ('소방서', 119), ('우리서', 117)}

set

In [105]:
address_list = list(address)
address_list

type(address_list)

[]

list

In [106]:
for i, w in enumerate(who) :
    print('{}번쨰 주소는 {}입니다.'.format(i, w))

0번쨰 주소는 소방서입니다.
1번쨰 주소는 경찰서입니다.
2번쨰 주소는 우리서입니다.

In [112]:
who = ['소방서', '경찰서', '우리서']
number = [119, 112, 117]

import itertools
for w, n in itertools.product(who, number) :
    print('{0} 해당년도 {1}입니다.'.format(w, n))

소방서 해당년도 119입니다.
소방서 해당년도 112입니다.
소방서 해당년도 117입니다.
경찰서 해당년도 119입니다.
경찰서 해당년도 112입니다.
경찰서 해당년도 117입니다.
우리서 해당년도 119입니다.
우리서 해당년도 112입니다.
우리서 해당년도 117입니다.

In [134]:
for w in who:
    for n in number:
        (w, n)

('소방서', 119)

('소방서', 112)

('소방서', 117)

('경찰서', 119)

('경찰서', 112)

('경찰서', 117)

('우리서', 119)

('우리서', 112)

('우리서', 117)

In [136]:
list_wn =[]
for w in who:
    for n in number:
        list_wn.append((w, n))

In [137]:
list_wn

[('소방서', 119),
 ('소방서', 112),
 ('소방서', 117),
 ('경찰서', 119),
 ('경찰서', 112),
 ('경찰서', 117),
 ('우리서', 119),
 ('우리서', 112),
 ('우리서', 117)]

In [141]:
list_wn_oneline = [(w, n) for w in who for n in number]
list_wn_oneline

[('소방서', 119),
 ('소방서', 112),
 ('소방서', 117),
 ('경찰서', 119),
 ('경찰서', 112),
 ('경찰서', 117),
 ('우리서', 119),
 ('우리서', 112),
 ('우리서', 117)]

### iterable이란 object의 원소를 하나씩 차례로 반환 가능한 경우로 sequence type인 list, str, tuple, zip(), map()
### for loop로 원소를 하나씩 꺼낸다.
#### https://bluese05.tistory.com/55

In [161]:
range(1,10)
list(reversed(range(1,10)))

range(1, 10)

TypeError: 'list' object is not callable

In [162]:
reversed(list(range(1,10)))

TypeError: 'list' object is not callable

In [178]:
 # iterator-- 실행하면서 만들어짐

for i in reversed([i for i in range(1,10)]) :
    print(i)

9
8
7
6
5
4
3
2
1

In [179]:
reversed([i for i in range(1,10)])

In [180]:
[i for i in reversed([i for i in range(1,10)])]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [164]:
sorted(list(range(1,10)), reversed=True)

TypeError: 'list' object is not callable

In [165]:
sorted(range(1,10), reversed=True)

TypeError: 'reversed' is an invalid keyword argument for sort()

In [166]:
list(reversed(range(1,10)))

TypeError: 'list' object is not callable

In [175]:
[i for i in reversed(range(9, 0, -1))]
[i for i in range(1,10)]

[i for i in reversed(range(1,10))]
[i for i in range(9, 0, -1)]

[i for i in sorted(range(1,10), reversed=True)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

TypeError: 'reversed' is an invalid keyword argument for sort()

In [181]:
for i in range(10):
    if i%2 ==0:
        print('{}:짝수'.format(i))
    else:
        print('{}:홀수'.format(i))

0:짝수
1:홀수
2:짝수
3:홀수
4:짝수
5:홀수
6:짝수
7:홀수
8:짝수
9:홀수

변수로 값을 받아 인쇄문은 하나만

In [184]:
for i in range(10):
    if i%2 ==0:
        even_odd = '짝수'
    else:
        even_odd = '홀수'
    
    print('{}는 {}'.format(i, even_odd))

0는 짝수
1는 홀수
2는 짝수
3는 홀수
4는 짝수
5는 홀수
6는 짝수
7는 홀수
8는 짝수
9는 홀수

else 없이 if문으로만 처리

In [186]:
for i in range(10):
    if i%2 ==0:
        print('{}:짝수'.format(i))
        continue
    print('{}:홀수'.format(i))

0:짝수
1:홀수
2:짝수
3:홀수
4:짝수
5:홀수
6:짝수
7:홀수
8:짝수
9:홀수

i가 9까지 실행되어 break문 실행안됨

In [200]:
for i in range(10):
    if i == 10:
        break
    else:
        print('{}번 "break"실행 안됨'.format(i))
print('\n실행종료')

0번 "break"실행 안됨
1번 "break"실행 안됨
2번 "break"실행 안됨
3번 "break"실행 안됨
4번 "break"실행 안됨

실행종료

In [201]:
for i in range(10):
    if i == 5:
        break
    else:
        print('{}번 "break"실행 안됨'.format(i))
print('\n실행종료')

0번 "break"실행 안됨
1번 "break"실행 안됨
2번 "break"실행 안됨
3번 "break"실행 안됨
4번 "break"실행 안됨

실행종료

In [207]:
for i in range(10):
    print('/', end='')
print('ㅠㅠ')
    
for i in range(10):
    print('/')

//////////ㅠㅠ
/
/
/
/
/
/
/
/
/
/

In [208]:
for i in range(10):
    print('/', end='')
else:
    print('ㅠㅠ')

//////////ㅠㅠ

In [219]:
animals = ['dog','cat','horse','dog']

animals_str =''
for animal in animals :
    animals_str += animal + ''

animals_str
animals_str = animals_str[:-2]
animals_str

animals_str =''
for animal in animals :
    print(animal)
    animals_str += animal + ','
    animals_str
else:
    print('----------', animal)
    animals_str = animals_str[:-2]
    
animals_str

'dogcathorsedog'

'dogcathorsed'

dog

'dog,'

cat

'dog,cat,'

horse

'dog,cat,horse,'

dog

'dog,cat,horse,dog,'

---------- dog

'dog,cat,horse,do'

In [220]:
animals
','.join(animals)
', '.join(animals)

['dog', 'cat', 'horse', 'dog']

'dog,cat,horse,dog'

'dog, cat, horse, dog'

In [221]:
my_list = list(range(0, 1.2, 0.2))
my_list

TypeError: 'float' object cannot be interpreted as an integer

In [224]:
my_list=[]

for i in range(1,11):
    if i%2 == 0:
        my_list.append(i/10)
my_list

my_list=[]

for i in range(1,11):
    if i%2 == 0:
        my_list.append(i/5)
my_list

[0.2, 0.4, 0.6, 0.8, 1.0]

[0.4, 0.8, 1.2, 1.6, 2.0]

In [225]:
list(map(lambda x:x/5, range(1,11)))

TypeError: 'list' object is not callable

In [226]:
list(filter(lambda x: not(x%2), range(1,11)))

TypeError: 'list' object is not callable

(2%2) -> 0, not 0 -> True, (3%2) --> 1, not 1 -> False

In [237]:
10%2
10%3
10%4
10-10
not(10%2)
not(10%3)
not(10/4)
not(10-10)

0

1

2

0

True

False

False

True

In [238]:
import numpy as np
list(np.arange(0.2, 1.2, 0.2))

TypeError: 'list' object is not callable

In [241]:
np.arange(0.2, 1.2, 0.2)
np.arange(0.2, 1.2, 0.2).tolist()

array([0.2, 0.4, 0.6, 0.8, 1. ])

[0.2, 0.4, 0.6000000000000001, 0.8, 1.0]

In [246]:
[[i, j] for i  in range(1,3) for j in range(1,4)]
[[i, j] for i  in (1,2) for j in (1,2,3,4)]
[[i, j] for i  in [1,2] for j in [1,2,3,4]]

[[1, 1], [1, 2], [1, 3], [2, 1], [2, 2], [2, 3]]

[[1, 1], [1, 2], [1, 3], [1, 4], [2, 1], [2, 2], [2, 3], [2, 4]]

[[1, 1], [1, 2], [1, 3], [1, 4], [2, 1], [2, 2], [2, 3], [2, 4]]

In [247]:
[[x, y] for x  in [1,2,3] for y in [1,2,3,4] if x !=y]

[[1, 2], [1, 3], [1, 4], [2, 1], [2, 3], [2, 4], [3, 1], [3, 2], [3, 4]]

In [248]:
list(map(lambda x :x**2, range(10)))

TypeError: 'list' object is not callable

In [249]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- a += b is short-hand for a = a + b, 
- a += a  is   a = a + a

In [266]:
for i in range(1, 11):
    print(i, end=',,,')

1,,,2,,,3,,,4,,,5,,,6,,,7,,,8,,,9,,,10,,,

In [271]:
i = 1
while i < 11:
    print(i, end=' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

In [273]:
i = 1
while True:
    if i > 10:
        break
    else:
        print(i, end=' ')
        i += 1
        continue

1 2 3 4 5 6 7 8 9 10

### Python 코딩을 위한 스타일 가이드 https://www.python.org/dev/peps/pep-0008/ 
### 들여쓰기 (idents)
- 텝보다 스페이스
- 괄호 위치 뒤로
- \(백슬래스) : 연속된 문장
- 연산자를 다음 줄 앞으로
- 공백라인 : 함수, 클래스 전에 두 줄
- UTF-8코드로 코딩
- 공백: 의미상 밀접한 것들을 뭉쳐서

# 함수(function)

In [293]:
sum = 0
square_sum = 0

for i in range(1,3):
    i
    sum += i
    square_sum += i**2
print('************')    
sum
square_sum

1

2

************

3

5

In [295]:
def my_square(x):
    return x**2

my_square(3)

9

In [298]:
for i in range(1,3):
    my_square(i)

1

4

In [322]:
sum = 0

for i in range(1,3):
    my_square(i)
    sum += my_square(i)
    sum
    print('*'*30)

sum

1

1

******************************

4

5

******************************

5

In [323]:
sum = 0
for i in range(11) :
    sum += i
sum

sum = 0
[sum += i for i in range(11)]

SyntaxError: invalid syntax (<ipython-input-323-62513857255a>, line 7)

In [324]:
[my_square(i) for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [325]:
sum([my_square(i) for i in range(11)]) # error : sum이 앞에서 선엄함

TypeError: 'int' object is not callable

In [326]:
del sum
sum([my_square(i) for i in range(11)])

385

In [327]:
def my_sum(x):
    sum = 0
    for i in x:
        sum += i
    return sum

In [328]:
my_sum([my_square(i) for i in range(11)])

385

In [329]:
[i**2 for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [330]:
[my_square(i) for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [333]:
list(map(lambda x: x**2, range(11)))

TypeError: 'list' object is not callable

In [339]:
map(lambda x: x**2, range(11))
[i for i in map(lambda x: x**2, range(11))]
my_sum(map(lambda x: x**2, range(11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

385

In [338]:
[i for i in map(lambda x: x**2, range(11))]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [345]:
def myfunc(a):
  return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x)

#convert the map into a list, for readability:
print(list(x))

# out = ['5', '6', '6']

<map object at 0x00000165F7EFA2E8>

TypeError: 'list' object is not callable

# 재귀함수(recursive function)

In [360]:
import random
for _ in range(10):
    print('{}  {}'.format(_, random.randint(0,100)), end=' /  ')

0  3 /  1  100 /  2  47 /  3  89 /  4  33 /  5  47 /  6  28 /  7  27 /  8  62 /  9  46 /

In [363]:
import random

list_to_sort = [random.randint(0,100) for _ in range(10)]

def q_sort(values):
    left=[]; right=[]
    if len(values) <=1:
        return values
    pvt = values.pop()
    for x in values:
        if x <= pvt:
            left.append(x)
        else:
            right.append(x)
    return q_sort(left)+[pvt]+q_sort(right)

list_to_sort
q_sort(list_to_sort)

[87, 38, 72, 10, 77, 64, 79, 56, 33, 0]

[0, 10, 33, 38, 56, 64, 72, 77, 79, 87]

# 함수(function)- *args, **keywords
- *args : 정하지 않은 추가적인 arg들
- **keywords: 정하지 않은 추가적인 key, value들

In [364]:
def not_formal(a, b='3', *args, **keywords):
    print('', a, '\n', b, '\n', '*args=', args,'\n', '**keywords =', keywords)

In [365]:
not_formal(1,2,3,4, a1='a1_value', a2='a2_value')

 1
 2
 *args= (3, 4)
 **keywords = {'a1': 'a1_value', 'a2': 'a2_value'}

In [368]:
not_formal(1,2,3,4,5,6)

 1
 2
 *args= (3, 4, 5, 6)
 **keywords = {}

In [369]:
not_formal(a=1, a1='a1_value')

 1
 3
 *args= ()
 **keywords = {'a1': 'a1_value'}

In [370]:
not_formal(1)

 1
 3
 *args= ()
 **keywords = {}

# Class

In [436]:
class MyList:
    def __init__(self) :                # 생성하고 리스트만들기
        self.lst = []
    def clr(self):                      # 리스트 지우기
        self.lst.clear()
    def apd(self, x):                   # 리스트에 추가하기
        self.lst.append(x)
    def rm(self, x):                   # 리스트에 모두 지우기
        self.lst.remove(x)
    def __str__(self):                  # 리스트 내용 보여주기
        return ', '.join([str(i) for i in self.lst])

In [437]:
my_list = MyList()
print(my_list)

In [438]:
my_list.apd(3)
print(my_list)

3

In [439]:
my_list.apd(4)
print(my_list)

3, 4

In [440]:
my_list.rm(3)
print(my_list)

4

In [441]:
my_list.clr()
print(my_list)

In [442]:
class MyList:
    def __init__(self) :                # 생성하고 리스트만들기
        self.lst = []
    def clr(self):                      # 리스트 지우기
        self.lst.clear()
    def apd(self, x):                   # 리스트에 추가하기
        if isinstance(x, (int, float)): # 숫자 하나 추가
            self.lst += [x]
        else:
            for i in x:                # 여러값 추가
                self.lst += [i]
    def rm(self, x):                   # 리스트에 모두 지우기
        self.lst.remove(x)
    def __str__(self):                  # 리스트 내용 보여주기
        return ', '.join([str(i) for i in self.lst])

In [443]:
my_list = MyList()
print(my_list)

In [444]:
my_list.apd(3)
print(my_list)

3

In [445]:
my_list.apd([4,5,6])
print(my_list)

3, 4, 5, 6

In [446]:
class MyListSum(MyList):
    def __init__(self):
        MyList.__init__(self)
    def sum_num(self):
        return sum(i for i in self.lst)
    def sum_square(self):
        return sum(i**2 for i in self.lst)

In [447]:
your_list = MyListSum()

In [448]:
your_list.apd([1,2,3])
print(your_list)
your_list.sum_num()
your_list.sum_square()
your_list.clr()
print(your_list) # 빈리스트

1, 2, 3

6

14

## https://docs.python.org/3/tutorial/classes.html

In [406]:
def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

In [407]:
scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam